.MuiDrawer-paper {
    margin-top: 65px;
}

.notesicon{
    background-color:papayawhip;
    border-radius: 17px;
}
.reminder:hover,.archive:hover,.bin:hover,.Edit-label:hover{
  background-color: rgb(207, 207, 207);
  border-radius: 17px;
}
.list{
    width: 300px;
  
}
